<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<!-- -->
	<!-- Application Name -->
	<display-name>Demo Sevlet</display-name>
	<description>Simple Servlet Application</description>

	<!-- Context Params - stuff our code uses -->
	<context-param>
		<param-name>version</param-name>
		<param-value>1.1.2</param-value>
	</context-param>


	<!-- Initialize Properties & Logging when application starts -->
	<listener>
		<listener-class>startup.ContextListener</listener-class>
	</listener>

	<!-- Note: Servlet definitions are annotated in servlet classes -->

	<!-- Welcome Files - default page -->
	<welcome-file-list>
		<welcome-file>hello</welcome-file>
	</welcome-file-list>

</web-app>